<% include header %>
<!-- main content -->
<div class="row">
  <div class="col s2 card-panel" style="position: relative;">
    <a class="btn-floating btn-medium waves-effect waves-light red" style="position: absolute; left: calc(50% - 20px);" href="/settask"><i class="mdi-content-add"></i></a>
    <ul class="collection" style="margin-top: 40px;">
      <%for (var i=0,len=samples.length;i<len;i++){%>
          <a href="<%=samples[i].id%>" class="collection-item <%= samples[i].id == actualSample ? 'active': ''%>">
            #<%= samples[i].id %>
            <%if (samples[i].isDone){%>
              <i class="mdi-navigation-check" style="float: right;"></i>
            <%}else{%>
              <i class="mdi-navigation-refresh rotating" style="float: right;"></i>
            <%}%>
          </a>
      <%}%>
    </ul>
  </div>
  <div class="col s10 card-panel">
    <div class="row">
      <div class="col s6">
        <h4>Sample: #<%=sample.id%></h4>
        <a class="waves-effect waves-light btn" href="<%=sample.id%>/download">Download</a>
      </div>
      <div class="col s6">
        <h4>Patient: <%=sample.patientName%></h4>
        <h4>Additional info:</h4>
        <p><%=sample.additionalInfo%></p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <table>
          <thead>
            <tr>
              <th>#id</th>
              <th>
                Gene
              </th>
              <th>Description</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0,len=sample.Results.length;i<len;i++){ %>
            <tr class="<%=(sample.Results[i].result)?'success':'failure'%>">
              <td><%=sample.Results[i].Pattern.id %></td>
              <td><%=sample.Results[i].Pattern.name %></td>
              <td><%=sample.Results[i].Pattern.description %></td>
              <td><%=sample.Results[i].result %></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include footer %>